
* {
    line-height: 1;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}   

h2 {
    display: inline-block ;
    background-color: #a22;
    padding: 50px ;
}


h3 {
    display: inline-block ;
    background-color: #322;
    padding: 50px ;
    text-align: center;
}


h4 {
    display: inline-block ;
    background-color: rgb(34, 192, 255);
    padding: 50px ;
    text-align: center;
}